* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #06090f;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #374045;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #58a6ff;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}
